/********GENERAL STYLES***************/

body
{
  display: flex;
  background-image: url("img/body.png");
  flex-direction: column;
}

.wrapper
{
  width: 1290px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 25px;
}

.main_blog
{
  margin: auto;
}

.main_contact
{
  margin: auto;
}


/***********HEADER STYLES*****************/
header
{
  display: flex;
  border-bottom: 1px solid #000;
}

.modalbox
{
  margin: auto 30px auto auto;
  color: #000;
  height: auto;
  width: auto;
  padding: 10px;
  border-radius: 15px;
  background-color: #ecf0df;
}

.header-title
{
  margin-left: 20px;
}

/***********MENU STYLES********************/

menu
{
  display: flex;
  margin: 0;
  padding: 0;
  height: 60px;
  width: 100%;
  margin-top: 0;
}

menu .menu_main-navigation
{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: auto;
}

.menu_main-navigation li
{
  margin: auto;
  list-style: none;
  margin-right: 45px;
  padding: auto;
  text-transform: uppercase;
}

.menu_main-navigation li a
{
  color: #000;
}

.menu_main-navigation li a:hover
{
  color: green;
}
/*---------------MAIN STYLES-----------------*/

main
{
  padding: 20px;
  width: 1250px;
  margin: 0 auto;
  margin-top: 60px;
  border-radius: 25px;
  background-color: #fff;
}

/*---------------------DATA TABLE STYLES---------*/

#main_table_wrapper
{
  margin-top: 20px;
}
.content
{
  display: flex;
}

.data_table
{
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  width: 1255px;
  table-layout: fixed;
  /*border-left: 1px solid #000; */
}

.data_table th
{
  background-color: #9bbb58;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
}

.data_table tr:nth-child(2n + 1)
{
   background-color: #ecf0df;
}

.data_table td
{
  text-align: left;
  word-wrap: break-word;
}


.data_table-email
{
  min-width: 20px;
  max-width: 40px;
}

.data_table-date
{
  width: 20px;
  max-width: 20px;
}

.data_table-email
{
  min-width: 30px;
  max-width: 50px;
}


.data_table-name
{
  min-width: 75px;
  max-width: 80px;
}



a
{
  text-decoration: none;
}
/***********FORM STYLES********************/

span
{
  font-size: 12px;
}


.form
{
  display: none;
  min-width: 300px;
  min-height: 300px;
}

.form_basis
{
  height: auto;
  width: auto;
  margin: 15px auto;
}

.top
{
  vertical-align: top;
}

.captcha_img
{
  width: 183px;
  margin-left: 20px;
  margin-right: auto;
}
.form_basis table
{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.form_basis-table_row-name-cell
{
  text-align: center;
}

#submit
{
  margin-top: 25px;
  width: auto;
  height: auto;
}
.form_basis-table_row-input-cell
{
  text-align: center;
}

.form_basis-table_row-input-cell input
{
  width: 183px;
  height: 25px;
}

.form_basis-table_row-input-cell textarea
{
  width: 183px;
}
