
body
{
  display: flex;

}
.wrapper
{
  width: 1250px;
  margin: 0 auto;

}
.info
{
  display: none;
}

.info_show
{
  display: inline-block;
}

.test
{
  text-align: center;
  width: 100%;
}

a
{
  text-decoration: none;
}

#form {
  height: auto;
  display: none;
}
#form p {
  display: relative;
  clear: both;
}
p .title {
  width: 100px;
  float: left;
  text-align: right;
}
p .title {
  font-family: Verdana, sans-serif;
  font-size: 13px;
}
.field {
  float: left;
  margin-bottom: 3px;
  padding-left: 10px;
}
#nickname, #content {
  width: 400px;
}

.author, .date, .email {
  font-weight: bold;
}
.date {
  padding-left: 10px;
}
.content {
  display: block;
  padding-bottom: 10px;
}
